<div class="navbar bg-light">
  <h1 class="navbar-brand mx-3">Simple Airbnb</h1>
  <div class="d-flex flex-row">
    <div class="nav-item input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button">Search</button>
      </div>
    </div>
    <div class="nav-item btn btn-outline-primary custom-btn mx-2">
      <%= link_to "Add Flat", new_flat_path %>
    </div>
  </div>
</div>

<div class="container">
  <h2>All our flats</h2>
  <div class="row row-cols-1 row-cols-md-4">
    <% @flats.each do |flat| %>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3><%= flat.name %></h3>
            <p><%= flat.address %></p>
            <div class="d-flex">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-user-group"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="d-flex align-items-center mx-2">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price_per_night %></span>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <%= link_to "More info", flat_path(flat) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
