<div class="navbar bg-light">
  <h1 class="navbar-brand mx-3">Simple Airbnb</h1>
  <div class="d-flex flex-row">
    <div class="nav-item input-group">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button">Search</button>
      </div>
    </div>
    <div class="nav-item btn btn-outline-primary custom-btn mx-2">
      <%= link_to "Add Flat", new_flat_path %>
    </div>
  </div>
</div>

<div class="container w-50 my-3 bg-light">
  <div class="p-3">
    <h1 class="display-4 mt-2 mb-4">Add a new flat</h1>
    <%= simple_form_for(@flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <button type="submit" class="btn btn-primary">Create Flat</button>
    <% end %>
  </div>
</div>
